body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.GenreClassification {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 8px;
    margin: 8px;
}

#csvInput {
    width: 95%;
    height: 80px;
    resize: both; /* Allows both horizontal and vertical resizing */
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.flex-parent-element {
	display: flex;
	width: 80%; /*width size of grids*/
    margin: 0 auto; /* Center the flex container horizontally */
}
  
.flex-child-element {
	flex: 1;
	border: 2px solid black;
	margin: 10px;
}

.flex-child-element.left {
    flex: 65%; 
    border: 2px solid black;
    margin: 10px;
}
  
.flex-child-element:first-child {
	margin-right: 20px;
}

.container {
	justify-content: space-between;
	flex-direction: column;
	height: 10vh;
	display: flex;
}
.container .btn-holder {
	margin-top: auto; /* Push the button to the bottom */
	justify-content: flex-end;
	display: flex;
}