<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Genre Classification</title>
</head>
<body>
	<div class="GenreClassification">
		<h1>Genre Classification</h1>

		<div class="flex-parent-element">
			<div class="flex-child-element left">
				<!-- Textarea for entering CSV -->
				<input type="text" id="csvInput" placeholder="Enter CSV data. USE CSVModelInput.csv"><br>
				<p id="additionalText1">Input a row from CSVModelInput.csv</p>
				<p id="additionalText2">Example:</p>
				<p id="additionalText3">0.619718,0.109489,0.354838,0.358974,0.608695,0.12087,0.06451,0.365617,0.646464,0.022222,0.672413,pop</p>
				<p id="additionalText3">0.87323,0.16058,0.34408,0.34615,0.6521,0.12087,0.3548,0.11138,0.9191,0.02222,0.103448,standards</p>
				<p id="additionalText3">0.28169,0.817518,0.4623655,0.4615384,0.565217,0.164835,0.95698,0.4648910,0.202020,0.06666,0.5,rock</p>



				
				<div class="container">
					<div class="btn-holder">
						<!-- Button to process the CSV input -->
						<button onclick="callModelCSV()">Process CSV</button>
					</div>
				</div>
			</div>
	
			<div class="flex-child-element right">
				<!-- Individual number inputs -->
				<input type="number" id="inputYear" placeholder="Enter number year">
				<input type="number" id="inputBpm" placeholder="Enter number bpm">
				<input type="number" id="inputNrgy" placeholder="Enter number nrgy">
				<input type="number" id="inputDnce" placeholder="Enter number dnce">
				<input type="number" id="inputDB" placeholder="Enter number dB">
				<input type="number" id="inputLive" placeholder="Enter number live">
				<input type="number" id="inputVal" placeholder="Enter number val">
				<input type="number" id="inputDur" placeholder="Enter number dur">
				<input type="number" id="inputAcous" placeholder="Enter number acous">
				<input type="number" id="inputSpch" placeholder="Enter number spch">
				<input type="number" id="inputPop" placeholder="Enter number pop">
				<input type="text" id="inputGenre" placeholder="Enter Genre"><br>

				<div class="container">
					<div class="btn-holder">
						<button onclick="callModelBoxes()">Call Model</button>
					</div>
				</div>
			</div>
		</div>

		<div>
			<p id="result">Result: </p>
			<p id="correctGenre">Correct Genre: </p>
		</div>
	</div>

	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

