<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Genre Classification</title>
</head>
<body>
    <div class="GenreClassification">
        <h1>Genre Classification</h1>
        
        <!-- Textarea for entering CSV -->
        <input type="text" id="csvInput" placeholder="Enter CSV data">
        

        <!-- Button to process the CSV input -->
        <button onclick="callModelCSV()">Process CSV</button>

        <!-- Individual number inputs -->
        <input type="number" id="inputYear" placeholder="Enter number year">
        <input type="number" id="inputBpm" placeholder="Enter number bpm">
        <input type="number" id="inputNrgy" placeholder="Enter number nrgy">
        <input type="number" id="inputDnce" placeholder="Enter number dnce">
        <input type="number" id="inputDB" placeholder="Enter number dB">
        <input type="number" id="inputLive" placeholder="Enter number live">
        <input type="number" id="inputVal" placeholder="Enter number val">
        <input type="number" id="inputDur" placeholder="Enter number dur">
        <input type="number" id="inputAcous" placeholder="Enter number acous">
        <input type="number" id="inputSpch" placeholder="Enter number spch">
        <input type="number" id="inputPop" placeholder="Enter number pop">

        <button onclick="callModelBoxes()">Call Model</button>
        <p id="result">Result: </p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
